<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>
        <%=title%>
    </title>

</head>

<body">
    <div class="content">
        <h1 id="head">TodoMatic V1</h1>
        <form id="form" action="/todo" method="POST">
            <div>
                <input type="text" id="input-field" name="name" placeholder="Task Header" required>
                <input type="text" id="input-field" name="comment" placeholder="Task Comment" required>

            </div>
            <div>
                <button type="submit" id="addButton">Submit</button>
            </div>
        </form>
        <div id="fetchAll">
            <% items.sort((a,b)=>a.id - b.id).map((item)=> { %>
                <div id="showTask">
                    <div id="taskHeader">
                        <%= item.name %>
                    </div>
                    <div>
                        <a id="linkShow" href="/todo/<%= item.id %>/show">SHOW</a>
                        <a id="linkUpdate" href="/todo/<%= item.id %>/edit">UPDATE</a>
                        <a id="linkDelete" href="/todo/<%= item.id %>">DELETE</a>

                    </div>
                </div>

                <% }) %>
        </div>

    </div>
    </body>

</html>