<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>
        <%= tittle %>
    </title>
</head>

<body>
    <div class="a">
        <div id="id">
            Id:
            <span>
                <%= item.id %>
            </span>
        </div>
        <div id="header">
            Task Header:
            <span>
                <%= item.name %>
            </span>
        </div>
        <div id="comment">
            Task Comment:
            <span>
                <%= item.comment %>
            </span>
        </div>
        <div id="time">
            Task Create Time:
            <span>
                <%= item.createAt %>
            </span>
        </div>
        <div id="time">
            Task Update Time:
            <span>
                <%= item.updatedAt %>
            </span>
        </div>
        <div id="complated">
            Task Complate:
            <span>
                <%= item.complated %>
            </span>
        </div>
    </div>
    <a href="/todo">Back</a>
</body>

</html>