<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>
        <%= tittle %>
    </title>
</head>

<body>
    <form action="/todo/<%= item.id %>/edit" method="post">
        <div>
            <label id="label" for="Id">Id: </label>
            <input type="text" id="input" name="id" value="<%= item.id %>" readonly>
        </div>
        <div>
            <label id="label" for="Id">Name: </label>
            <input type="text" id="input" name="name" value="<%= item.name %>">
        </div>
        <div>
            <label id="label" for="Id">Comment: </label>
            <input type="text" id="input" name="comment" value="<%= item.comment %>">
        </div>
        <div>
            <label id="label" for="Id">Complate: </label>
            <input type="checkbox" id="input" name="complated" value="<%= item.complated %>" checked>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/todo">Back</a>
</body>

</html>