<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tittle %>
    </title>
</head>

<body>
    <div>
        <%= item.id %>
    </div>
    <div>
        <%= item.name %>
    </div>
    <div>
        <%= item.comment %>
    </div>
    <div>
        <%= item.time %>
    </div>
    <div>
        <%= item.complated %>
    </div>
</body>

</html>